<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<link rel="icon" type="image/png" href="gravicon.png">
		<title>The Atom Review</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-51904358-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</head>

	<body>
		<div class="title">Atom Review</div>
		<div class="slogan">showcasing one independent artist a day</div>

		<img src="line.png">

		<div id="categorycontainer">
			<div class="categories">film</div>
			<div class="categories">music</div>
			<div class="categories">performance</div>
			<div class="categories">written</div>
		</div>

		<img src="line.png"></br>

		<img id="sketch" src="niki2.jpg">
		<div id="nikicredit">(Niki Ortiz)</div>

		<div class="launchdate">Launching August 2014</div>

	</body>
</html>

