<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<link rel="icon" type="image/png" href="gravicon.png">
		<title>The Atom Review</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	</head>

	<body>
		<div class="title">Atom Review</div>
		<div class="slogan">showcasing one independent artist a day</div>

		<img src="line.png">

		<div id="categorycontainer">
			<div class="categories">film</div>
			<div class="categories">music</div>
			<div class="categories">performance</div>
			<div class="categories">written</div>
		</div>

		<img src="line.png"></br>

		<img id="sketch" src="niki2.jpg">
		<div id="nikicredit">(Niki Ortiz)</div>

		<div class="launchdate">Launching August 2014</div>

	</body>
</html>

