body {
	margin: 0px 0px 0px 0px;
	font-family: Courier;
	text-align: center;
	padding-top: 50px;
}

.title {
	font-size: 48px;
	padding-bottom: 10px;
}

.slogan {
	font-size: 18px;
	padding-bottom: 40px;
}

.categories {
	font-size: 18px;
}


.launchdate {
	font-size: 30px;
	margin-top: 30px;
}