body {
	margin: 0px 0px 0px 0px;
	font-family: Courier;
	text-align: center;
	padding-top: 50px;
	color: #4A4A4A;
}

.title {
	font-size: 48px;
	padding-bottom: 10px;
}

.slogan {
	font-size: 18px;
	padding-bottom: 40px;
}

#categorycontainer {
	margin: 0 auto;
	width: 458px;
}

.categories {
	font-size: 18px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

#sketch {
	margin-top: 30px;
	height: 300px;
}

#nikicredit {
	font-size: 10px;
	margin-left: 350px;
}

.launchdate {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}